 body{
        margin-left: 3%;
        padding-left: 2%;
    }
/*  mediaQuery for different screen sizes */

/* tablet screen size  */
@media screen and (max-width: 800px){
   
    
}

/* desktop/laptop size */
@media screen and (min-width: 1024px){
   
    h1{
        
    }
    
    h3, h2{
        text-indent: 4%;
    }

    li{
        text-indent: 6%;
        list-style-type: none;
        font-size: 14px;
    }
    
    button{
        position: relative;
        display: block;
        left: 80%;
        transform: translateX(-70%);
    }
}

/*   */