legend{
    font-weight: bold;
    font-size: 18px;
    background-color: goldenrod;
    padding-left: 2px;
    margin-left: 3px;
}

.top{
    background-color: black;
    height: 28px;
    width: 98px;
}
     
#first {
    color: lightgoldenrodyellow;
    background-color: rgb(60, 60, 60)
}
    
#second{
    background-color:goldenrod;
    color: black;
}

/*  mediaQuery for different screen sizes */

/* tablet screen size  */
@media screen and (max-width: 800px){
    form{
        width: auto;
        margin-left: 2%;
        margin-top: 2%;
        margin-right: 1%;
    }
    
    fieldset{
        margin-top: 2%;
    }
}

/* desktop/laptop size */
@media screen and (min-width: 1024px){    
    body{
        width: 100%;
    }
    
    form{
        display: flex;
    }
    
    #first, #second{
        flex-grow: 1;
    }
    
 /* 
    #first {
        width: 30%;
    }
  
    #second{
  
    }
*/
}

/*   */