#submit{
    float: right;
    margin-right: 2%;
}

h2{
    margin-left: 2%;
}

legend{
    font-weight: bold;
    font-size: 18px;
    padding-left: 2px;
    margin-left: 3px;
}

#parent{
    background-color: rgb(60, 60, 60);
    height: 25px;
    width: 98px;
}

#pet{
    background-color: goldenrod;
    width: 98px;
    height: 25px;
}
     
#first {
    color: lightgoldenrodyellow;
    background-color: rgb(60, 60, 60);
}
    
#second{
    background-color:goldenrod;
    color: black;
}

/*  mediaQuery for different screen sizes */

/* tablet screen size  */
@media screen and (max-width: 800px){
    form{
        width: 90%;
        margin-left: 2%;
        margin-top: 2%;
    }
    
    fieldset{
        margin-top: 2%;
        width: 95%;
    }
}

/* desktop/laptop size */
@media screen and (min-width: 800px){       h2, p{
        margin-bottom: 1%;
        margin-top: 1%;
    }
   

    #left, #right{
        display: flex;
        flex-basis: auto;
        flex-direction: column;
        
    }
        
/*
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -moz-column-width: 100px;
        -webkit-column-width: 100px; 
        column-width: 100px;
        -webkit-column-gap: 10px;
        -moz-column-gap: 10px;
        column-gap: 10px;
*/
    
    
/*
    input{
        width: 95%;
        margin-bottom: 1%;
    }
*/
/*
    
    #first, #second, {
        flex-grow: 1;
        
    }
*/
}