
/*  mediaQuery for different screen sizes */

/* tablet screen size  */
@media screen and (max-width: 800px){
    body{
        display:block;
        margin: 3%;
        padding:3%;
    }
    
}

/* desktop/laptop size */
@media screen and (min-width: 800px){
    h1{
        text-align: left;
        margin-left: 2px;
        margin-bottom: 2%;
    }
    
    h3{
        margin-top: 4%;
        margin-bottom: 2%;
    }
    
    body{
        display: block;
        margin: 0 auto;
        padding: 0;
        text-align: left;
        width:100%;
    }
    
    input{
        font-size: 12px;
    }
    
    #columns{
        column-count: 2;
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
    }
}
/*   */