/* Stylesheet for service.html after service button is clicked.*/

/*  mediaQuery for different screen sizes */

/* tablet screen size  */
@media screen and (max-width: 800px){
    body{
        display:block;
        margin: 3%;
        padding:3%;
        background-color: lightgray;
    }
}

/* desktop/laptop size */
@media screen and (min-width: 800px){
    h1{
        margin-top: 1%;
        margin-left: 1%;
        margin-bottom: 3%;
    } 
    
    h3{
        margin-top: 2%;
        margin-bottom: 3%;
    }
   
    input{
        font-size: 12px;
    }
    
    textarea{
        float: right;
        margin-right: 22%;
        clear: right;
    }
    
    /* To position the columns */
    #columnLeft{
        float: left;
        margin-left: 2%;
        clear: left;
    }
    
    #columnRight{
        float: right;
        margin-right: 5%;
        margin-top: -3%;
        clear: right;
    }
    
    /* To position the save and print button */
    button{
        
        z-index: 1;
        padding: 2%;
    }
    
    #print{
        position: fixed;
        bottom: 80px;
        right: 120px;        
    }
    
    #save{
        position: fixed;
        bottom: 80px;
        right: 280px;
    }
}